

div {
  background-color: #e5e4e2;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  padding-top: 10px;
  width: 100%; 
}

h2 {
  text-align: center;
}
form  {
  background-color: #e5e4e2;
  border-radius: 5px;
  padding: 20px 30px;
  text-align: center;
  width: 90%;
}
form input {
  border: none;
  border-radius: 5px;
  margin: 12px 20px;
  padding: 12px 20px;
  width: 90%;
}

form label { 
font-size: 120%
 }

 /*small devices (portrait tablets and large phones 600px and up)*/
 @media only screen and (min-width: 600px) {
  div {

  }
 }