/* mobile first view*/
h2 {
	display: none;
}

aside{ 
	background: white; 
	font-size: 120%;
	padding: 5px 0 5px 0;
	text-align: center;
	width: 100%;
}

/*style the links in the aside section*/
aside a:link { 
	color: black;
	display: block;
	padding: 5px 0 5px 0;
	text-decoration: none;
	vertical-align: middle;
}

/* style the links visited in the aside section */
aside a:visited { 
	color: black;
	text-decoration: none;
}

/* change the color of aside links on hover using mouse */
aside a:hover { 
	background-color: black;
	color: white;
}

/* change the color of the aside links on focus using tab key */
aside a:focus {
	background-color: black;
	color: white;
	outline: none;
}

article { 
	background-color: black;
	color: #f2f2f2;
	font-size: 120%;
	padding: 10px;
}

#main_image { 
	width: 100%;
}

article a { 
	color: #f2f2f2;
	padding: 5px;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	div { 
		display:flex;
	}

	aside { 
		align-items: center;
		display: flex;
		flex-direction: column;
		float: left;
		justify-content: center;
		width: 30%;
	}

	aside a { 
		width: 100%;
	}

	section { 
		display: inline;
		float: right;
		width: 70%;
	}
}